*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 



body{
    background-color: rgb(197, 197, 197);


}
/* -----------------------HEADER------------------------- */



/* -----------------------MAIN-------------------------- */
@import "_banner.scss";

/* --------------------------Articulos----------------------------- */
@import "_cards.scss";


/*-----------------------Carrito.html----------------------- */



/* ----------------------FOOTER-------------------------- */
@import "_footer.scss";


/*----------------------MEDIAQUERY-------------------------*/
@import "_responsive.scss";

